body{
  background-color: #ffe6e6;
  margin: 0;
}
.beauty{
position: relative;
height: 500px;
overflow: hidden;
background: url(beauty.jpg) no-repeat center;
background-size: cover
}
h1{
  color:#DC143C	;
  text-align: center;
  margin-top: 150px;
 font-family: 'Courgette', cursive;
}
h2{
  color:#DC143C	;
  text-align: center;
  margin-top: 50px;
  font-family: 'Merriweather', serif;
}
.Pic{
  color:#DC143C	;
  text-align: center;
  margin-top: 50px;
 font-family: 'Courgette', cursive;
}
.box_pic{
    text-align: center;
    margin-top: 25px;
    height: 199px;
}
.Sisters{
position: absolute;
left:  50px;
}
.Family{
  position: absolute;
   right:50px;
}
.Study{
  color:#DC143C	;
  text-align: center;
  margin-top: 120px;
 font-family: 'Courgette', cursive;
}
#study{
  background-color:#ffcccc;
  text-align: center;
}
.table {
    width: 360px;
    border: 2px solid black;
    margin: auto;
   }
   #Contact{
  background-color: #ffe6e6;
  margin-top:20px;
   }
   .bottom-container {
     text-align: center;
   }
   .footer-link{
     margin-right: 50px;
   }
   .footer-link2{
     text-align: center;
   }
   .footer-link3{
   margin-left: 50px;
   }
.Con{
  color:#DC143C	;
  text-align: center;
  margin-top: 50px;
 font-family: 'Courgette', cursive;
}
